@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "cera-medium";
  src: url("../src/assets/fonts/Cera\ Pro\ Medium.otf");
}

@font-face {
  font-family: "cera-light";
  src: url("../src/assets/fonts/Cera\ Pro\ Light.otf");
}

@font-face {
  font-family: "cera-bold";
  src: url("../src/assets/fonts/Cera\ Pro\ Bold.otf");
}

@layer base {

  html,
  body {
    font-family: cera-medium;
  }

  @media (max-width: 1300px) {
    .container {
      @apply px-2;
    }
  }

  p {
    line-height: 1.7;
    color: #16375B;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1.1;
  }

}

.title-paragraph h2::after,
.two-columns-with-image h3::after,
h3.footer-title::after {
  content: "";
  width: 70px;
  display: block;
  height: 5px;
  margin: auto;
  border-radius: 4px;
  margin-bottom: 25px;
  margin-top: 25px;
  background: #2EB9CC;
}
h3.footer-title::after {
  margin-left: 0;
}
@media (min-width: 1024) {
  .two-columns-with-image h3::after
  {
    margin-left: 0;
  }
}

h3.footer-title::after {
  width: 40px;
}